/*

.component {
	position: relative;
	background: url(../img/gridme.png) repeat center center;
	padding: 4em;
	height: 500px;
	border: 3px solid #49708A;
	max-width: 901px;
	overflow: hidden;
	margin: 0 auto;
}*/
